**/node_modules
**/dist
backend/server_bin
backend/cert.pem
backend/key.pem
.git
.idea
docs
*.md
mobile-client/.env*
mobile-client/.expo
mobile-client/ios
mobile-client/android
mobile-client/__tests__
